//====================================================================================================
.footer {
	background-color: $mainText;
	color: #fff;
	padding-bottom: 64px;
	&__rows {
		display: flex;
		@include adaptiveValue('gap', 30, 15);
		@include adaptiveValue('padding-top', 36, 36)
	}
}

.item-list-li {
	transition: transform .1s ease-in-out;

	&:hover {
		transform: translateX(5px);

		a {
			color: $mainTif;

		}
	}
}

.item-list-a {
	transition: transform .1s ease-in-out;


}

// .about-item {
// 	grid-column: 2/3;
// 	grid-row: 1/2;
// 	width: 90%;
// }

// .life-students-item {

// 	grid-column: 2/3;
// 	grid-row: 2/3;
// 	width: 90%;
// }

// .science-item {
// 	grid-column: 4/5;
// 	grid-row: 1/2;
// 	width: 90%;
// }

// .incoming-item {
// 	grid-column: 3/4;
// 	grid-row: 1/2;
// 	width: 90%;
// }


// .friend-item {
// 	grid-column: 3/4;
// 	grid-row: 2/3;
// 	width: 90%;
// }

// .media-item {
// 	grid-column: 4/5;
// 	grid-row: 2/3;
// 	width: 90%;
// }

// .aside__contacts {
// 	grid-column: 1/2;
// 	grid-row: 1/2;
// }

// .footer__adres {
// 	grid-column: 1/2;
// 	grid-row: 2/3;
// }

// .footer__buttons {
// 	grid-column: 1/2;
// 	grid-row: 2/3;
// 	align-self: end;
// }

// .bottom-copyrights {
// 	grid-column: 1/2;
// 	grid-row: 3/4;
// 	align-self: start;
// 	margin-top: rem(18);
// }

// .bottom-maps {
// 	grid-column: 2/5;
// 	grid-row: 3/4;
// 	align-self: start;
// 	margin-top: rem(18);

// }

#tg-footer,
#vk-footer,
#ok-footer {
	@include adaptiveValue('width', 45, 35);
	@include adaptiveValue('height', 45, 35);
	transition: transform .2s ease-in-out;

	path {
		stroke: transparent;
		// fill: $mainTif;

	}


}
.svg-footer-hover {

	&:hover {
		transform: scale(103%);
		transition: transform .1s ease-in-out;

		path {
			fill: #fff;
			// stroke: #fff;
			transition: transform .2s ease-in-out;
		}
	}
}
.svg-footer-color {
	path {
		stroke: #00B2B5;
		fill: #00B2B5;
	}

}


.item-title {
	@include adaptiveValue('gap', 30, 5);
	@include adaptiveValue('font-size', 18, 16);
	// @include adaptiveValue('margin-bottom', 8, 6);
	margin-bottom: 8px;
	font-weight: 700;
	line-height: 140%;
}

.item-list-li {

}

.item-list-a {
	@include adaptiveValue('font-size', 14, 12);
	font-weight: 400;
	@include adaptiveValue('padding-top', 8, 12);
	@include adaptiveValue('padding-bottom', 8, 12);
	// vertical-align: middle;
	line-height: 140%;
	display: inline-block;
	width: 100%;
	height: 100%;
	// border: 1px solid red;

}

.aside__contacts {
	transition: transform .3s ease-in-out;
}

.aside__contacts h2 {
	margin-bottom: 28px;
	// @include adaptiveValue('margin-bottom', 36, 30);
	// margin-bottom: 36px;
	position: relative;

	a {
		@include adaptiveValue('font-size', 18, 16);
		display: inline-block;
		font-weight: 700;

	}



	transition: transform .1s ease-in-out;

	a:hover {
		transform: scale(103%);
		transition: transform .1s ease-in-out;


	}
}

.social-icons-footer a {
	&:not(:last-child) {
		// @include adaptiveValue('margin-right', 16, 14);
		margin-right: 16px;
	}

}

.footer__adres {
	line-height: math.div(15, 12);

	h2 {
		@include adaptiveValue('font-size', 14, 12);
		// @include adaptiveValue('margin-bottom', 16, 14);
		margin-bottom: 16px;
		font-weight: 700;
	}

	h3 {
		@include adaptiveValue('font-size', 12, 10);
		font-weight: 400;
	}
}

.footer__journal,
.footer__account {
	height: 39px;
	// @include adaptiveValue('width', 175, 120);
	width: 100%;
	background-color: #fff;
	color: $mainText;
	border-radius: 10px;
	font-size: 12px;
	font-weight: 700;
	transition: transform .05s ease-in-out;
	box-shadow: 0px 0px 3px rgba(255, 255, 255, .5);


	&:hover {
		transform: translateY(-1.5px);
		transform: scale(102%);
		box-shadow: 0px 0px 5px rgba(255, 255, 255, .5);

	}

	&:active {
		transform: translateY(.5px);
		box-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
	}

	&:not(:last-child) {
		margin-bottom: rem(7);

	}
}

.bottom-copyrights {
	font-size: rem(12);
	font-weight: 400;
	white-space: nowrap;

	h2:not(:last-child) {
		margin-bottom: rem(4);
	}
}

.bottom-maps {
	font-size: rem(12);
	font-weight: 400;
	text-align: right;
	color: $mainTif;
	transition: transform .3s ease-in-out;

	h2 {
		transition: transform .2s ease-in-out;
	}

	h2:hover {
		transform: translateX(-5px);
		transition: transform .2s ease-in-out;

	}

	a {
	transition: transform .3s ease-in-out;
	}

	a:hover {
		color: #fff;
		transition: transform .3s ease-in-out;

	}

	h2:not(:last-child) {
		margin-bottom: rem(8);
	}


}

// @media screen and (max-width: 670px) {
// 	.footer {
// 		background-color: $mainText;
// 		color: #fff;

// 		&__rows {
// 			display: grid;
// 			grid-template-columns: repeat(3, 1fr);
// 			grid-template-rows: repeat(2, 1fr) .5fr;
// 			@include adaptiveValue('gap', 30, 15);
// 			margin-top: rem(36);
// 			margin-bottom: rem(16);
// 		}
// 	}

// 	.aside__contacts {
// 		grid-column: 1/3;
// 		grid-row: 1/2;
// 	}

// 	.footer__adres {
// 		grid-column: 2/3;
// 		grid-row: 1/2;
// 	}

// 	.footer__buttons {
// 		grid-column: 3/4;
// 		grid-row: 1/2;
// 		align-self: start;
// 	}

// 	.bottom-copyrights {
// 		grid-column: 1/2;
// 		grid-row: 4/5;
// 		align-self: end;
// 		margin-top: rem(18);
// 	}

// 	.bottom-maps {
// 		grid-column: 2/4;
// 		grid-row: 4/5;
// 		align-self: end;
// 		margin-top: rem(18);

// 	}

// 	//===========================//===========================//===========================//===========================

// 	.about-item {
// 		grid-column: 1/2;
// 		grid-row: 2/3;
// 	}

// 	.science-item {
// 		grid-column: 3/4;
// 		grid-row: 2/3;
// 	}

// 	.incoming-item {
// 		grid-column: 2/3;
// 		grid-row: 2/3;
// 	}

// 	.life-students-item {
// 		grid-column: 1/2;
// 		grid-row: 3/4;
// 	}

// 	.friend-item {
// 		grid-column: 2/3;
// 		grid-row: 3/4;

// 	}

// 	.media-item {
// 		grid-column: 3/4;
// 		grid-row: 3/4;
// 	}
// }

//====================================================================================================//====================================================================================================
// @media screen and (max-width: 576px) {
// 	.footer {
// 		&__container {}

// 		background-color: $mainText;
// 		color: #fff;

// 		&__rows {
// 			display: grid;
// 			grid-template-columns: repeat(4, 1fr);
// 			grid-template-rows: .5fr .3fr .5fr repeat(2, 1fr) .5fr;
// 			gap: 30px;
// 		}

// 		.aside__contacts {
// 			grid-column: 1/5;
// 			grid-row: 1/2;
// 			justify-self: center;
// 			text-align: center;
// 		}

// 		.footer__adres {
// 			grid-column: 1/5;
// 			grid-row: 2/3;
// 			justify-self: center;
// 			text-align: center;
// 		}

// 		.footer__buttons {
// 			button {
// 				display: block;
// 				width: rem(290);
// 			}

// 			grid-column: 1/5;
// 			grid-row: 3/4;
// 			justify-self: center;
// 		}

// 		.bottom-copyrights {
// 			grid-column: 1/5;
// 			grid-row: 7/8;
// 			justify-self: center;
// 			text-align: center;
// 		}

// 		.bottom-maps {
// 			display: none;
// 		}

// 		//===========================//===========================//===========================//===========================//===========================//===========================//===========================//===========================

// 		.about-item {
// 			grid-column: 1/3;
// 			grid-row: 4/5;
// 			width: 85%;
// 		}

// 		.science-item {
// 			grid-column: 1/3;
// 			grid-row: 6/7;
// 			width: 85%;
// 		}

// 		.life-students-item {
// 			grid-column: 1/3;
// 			grid-row: 5/6;
// 			width: 85%;
// 		}

// 		.incoming-item {
// 			grid-column: 3/5;
// 			grid-row: 4/5;
// 			width: 85%;

// 		}


// 		.friend-item {
// 			grid-column: 3/5;
// 			grid-row: 5/6;
// 			width: 85%;

// 		}

// 		.media-item {
// 			grid-column: 3/5;
// 			grid-row: 6/7;
// 			width: 85%;

// 		}
// 	}
// }
.copyright-off {
	display: none;
}
.footer-menu-row {
	width: 100%;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	margin-left: 64px;
	margin-bottom: 32px;
}
.footer__items-item {
	width: calc((100%/4) - 30px);
}
.footer-left-row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.footer-right-all {
	display: flex;
	flex-direction: column;
}
@media screen and (max-width: 1057px) {
	.footer-menu-row {
		width: 100%;
		display: flex;
		gap: 30px;
		flex-wrap: wrap;
		margin-left: 0px;
	}
	.footer__items-item {
		width: calc((100%/2) - 30px);
	}
}
@media screen and (max-width: 631px) {
	.copyright-off {
		display: block;
		margin-bottom: 32px;
	}
	.copyright-on {
		display: none;
	}
	.bottom-maps {
		text-align: center;
	}
	.footer {
		&__rows {
			// padding: 0 36px 0 36px;
			padding-left: 24px;
			padding-right: 24px;
			display: flex;
			flex-direction: column;
			text-align: center;
		}
	}
	.footer-menu-row {
		// width: 50%;
		display: flex;
		// flex-direction: column;
		gap: 30px;
		flex-wrap: wrap;
		margin-left: 0px;
		margin-bottom: 32px;
		// text-align: left;
		// align-items: center;
	}
	.footer__items-item {
		width: calc((100%/2) - 30px);
		text-align: left;

	}
	.footer-left-row {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

	}
	.footer-right-all {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.footer__journal,
	.footer__account {
		margin-bottom: 32px;
		margin-top: 32px;
		width: 100%;
	}
	.item-title {
		// white-space: nowrap;
	}
}
.footer-disabled-link {
	opacity: .6;
	&:hover {
		color: white!important;
	}
}
