@use 'sass:math';

@import 'base/mixins';

// Подключение шрифтов
@import 'fonts/fonts';

// Иконочный шрифт
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================

$fontFamily: CenturyGothic;
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #25282b; // Цвет шрифта по умолчанию

@import 'base/null';

// body {
// }

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

// Ограничивающий контейнер

// Подключение стилей общих элементов проекта
//@import "common";

// Подключение стилей отдельных блоков
//@import "header";
//@import "footer";
@import 'index';
// Подключение стилей отдельных страниц
//@import "team";

//* {
//	scrollbar-width: thin;
//	scrollbar-color: #C9C8D3;
//  }

/* для Chrome/Edge/Safari */
//  *::-webkit-scrollbar {
//	height: 1px;
//	width: 6px;
//  }
//  *::-webkit-scrollbar-track {
//	background: #dfdee771;
//	margin-top: 2px;
//	margin-bottom: 2.5px;
//	border-radius: 30px;
//  }
//  *::-webkit-scrollbar-thumb {
//	background-color: $borderTif;
//	border-radius: 30px;
//	border: 3px solid $borderTif;
//  }
//* {
//	scroll-behavior: smooth;
//	scroll-margin-top: 180px;
//
//}
