.start {
	font-size: 40px;
	text-align: center;
	margin-top: 10%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: white;
	text-decoration: underline;
	font-weight: 700;
}
body {
	background-color: #128bb8;
}
